</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css"
	integrity="sha512-+VDbDxc9zesADd49pfvz7CgsOl2xREI/7gnzcdyA9XjuTxLXrdpuz21VVIqc5HPfZji2CypSbxx1lgD7BgBK5g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<section>
	<div class="container mt-4">
		<h2 class="text-left ">EDIT PRODUCT</h2>

		<form action="/admin//edit-product/{{product._id}}" method="POST" enctype="multipart/form-data">

			<div class="row d-flex justify-content-center " style="width: 100%">

				<div class="col col-5 col-lg-5 col-md-12 col-sm-12 p-3 border shadow mr-3">
					<label for="">Name</label>
					<input type="text" name="Name" class="form-control" value="{{product.Name}} ">


					<label for="">Price</label>
					<input type="text" name="price" class="form-control" value="{{product.price}}" >

					<label for="">Description</label>
					<input type="text" name="description" class="form-control"value="{{product.description}}">

					<label for="">STOCK</label>
					<input type="text" name="stock" class="form-control" value="{{product.stock}}">

					<label class="mt-3" for="">CATEGORY</label>
					<select name="category" id="category">
						{{#each category}}
						<option value="{{this.category}}">{{this.category}}</option>
						{{/each}}
					</select>

				</div>
				<div class="col col-5 col-lg-5 col-md-12 col-sm-12 p-3 border shadow">
					<h5>{{product.image}}</h5>
					<img src="/product-images/{{product._id}}.jpg" height="70;width:100px"  alt="dd">
					<label for="">Image</label>
					<input type="file" name="image" id="id_image1" class="form-control">
					<img src="/assets/product-images/{{this._id}}.jpg" alt="" style="width:100px;height:auto" id="view">
					{{!-- ///////////crop/////////////// --}}
					<div id="crop">
						<div class="vald-info" id="info"></div>
						<h5 class="error_form text-danger" id="image1_error_message"></h5>
						<div style="display: flex">
							<div id="image-box1" class="image-container clr" style="height: 300px; width: 20%">
							</div>
							<button type="button" class="btn btneds bg-success" id="crop-btn1"
								style=" margin-top: 10px; display: none; width: 50%; margin: 20rem 0rem 0rem 0rem;">crop</button>
						</div>
					</div>

					<label for="">Image</label>
					<input type="file" name="image1" id="id_image1" class="form-control">
					<h5>{{product.image1}}</h5>
          <img src="/product-images/{{product._id}}1.jpg" alt="" style="width:100px;height:70" id="view">

					<label for="">Image</label>
					<input type="file" name="image2" id="id_image1" class="form-control">
					<h5>{{product.image2}}</h5>
          <img src="/product-images/{{product._id}}2.jpg" alt="" style="width:100px;height:70" id="view">

					<label for="">Image</label>
					<input type="file" name="image3" id="id_image1" class="form-control">
					<h5>{{product.image3}}</h5>
          <img src="/product-images/{{product._id}}3.jpg" alt="" style="width:100px;height:70" id="view">
			</div>

			</div>

			<button type="submit" class="btn btn-success mt-4 ml-5">ADD PRODUCT</button>
			<br>


	</div>






	</form>
	</div>

</section>

<script>
	function viewimage(event) {
		document.getElementById('view').src = URL.createObjectURL(event.target.files[0])
	}

	/////////////for image1///////////////////

	const imagebox1 = document.getElementById("image-box1");
	const crop_btn1 = document.getElementById("crop-btn1");
	const input1 = document.getElementById("id_image1");

	// When user uploads the image this event will get triggered
	input1.addEventListener("change", () => {
		// Getting image file object from the input variable
		const img_data1 = input1.files[0];
		// createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
		// The new object URL represents the specified File object or Blob object.
		const url1 = URL.createObjectURL(img_data1);
		// Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
		imagebox1.innerHTML = `<img src="${url1}" id="image1" style="width:100%;">`;
		// Storing that cropping view image in a variable
		const image1 = document.getElementById("image1");
		// Displaying the image box
		document.getElementById("image-box1").style.display = "block";
		// Displaying the Crop buttton
		document.getElementById("crop-btn1").style.display = "block";
		// Hiding the Post button
		document.getElementById("view").style.display = "block";
		const cropper1 = new Cropper(image1, {
			autoCropArea: 1,
			viewMode: 1,
			scalable: false,
			zoomable: false,
			movable: false,
			minCropBoxWidth: 50,
			minCropBoxHeight: 50,
		});
		// When crop button is clicked this event will get triggered
		crop_btn1.addEventListener("click", () => {
			// This method coverts the selected cropped image on the cropper canvas into a blob object
			cropper1.getCroppedCanvas().toBlob((blob) => {
				// Gets the original image data
				let fileInputElement1 = document.getElementById("id_image1");
				// Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
				let file1 = new File([blob], img_data1.name, {
					type: "image/*",
					lastModified: new Date().getTime(),
				});
				// Create a new container
				let container1 = new DataTransfer();
				// Add the cropped image file to the container
				container1.items.add(file1);
				// Replace the original image file with the new cropped image file
				fileInputElement1.files = container1.files;
				document.getElementById("view").src = URL.createObjectURL(
					fileInputElement1.files[0]
				);
				// Hide the cropper box
				document.getElementById("image-box1").style.display = "none";
				// Hide the crop button
				document.getElementById("crop-btn1").style.display = "none";

			});
		});
	});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"
	integrity="sha512-ZK6m9vADamSl5fxBPtXw6ho6A4TuX89HUbcfvxa2v2NYNT/7l8yFGJ3JlXyMN4hlNbz0il4k6DvqbIW5CCwqkw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
  {{!-- function viewImage(event){
    document.getElementById('imgView').src=URL.createObjectURL(event.target.files(0))
  } --}}
</script>