<!-- Favicon -->
<link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- Icons -->
<link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
<link href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
<!-- CSS Files -->
<link href="/assets/css/argon-dashboard.css?v=1.1.2" rel="stylesheet" />




<!-- Table -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <h3 class="mb-0 mx-5 mt-5">Product Details</h3>
        <div class="d-flex justify-content-end">
          <div class="card-header border-0 d-flex justify-content-end ">
            <a href="/admin/add-product" class="btn btn-success ml-auto">Add Product</a>
          </div>
          <div class="card-header border-0 d-flex justify-content-end ">
            <a href="/admin/add-productoffer" class="btn btn-success ml-auto">Add Product Offer</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">EDIT</th>
                <th scope="col">DELETE</th>
              </tr>
            </thead>
            <tbody>
              {{!--
              <script>let sno = 0</script> --}}
              {{#each products}}
              <tr>
                <td>
                  {{inc @index}}
                </td>
                <th scope="row">

                  <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="/product-images/{{this._id}}.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"></span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="badge badge-dot mr-4 text-dark">
                    <i class="bg-warning"></i> {{this.Name}}
                  </span>
                </td>

                <td>

                  <i class="bg-warning"></i> {{this.description}}
                  </span>
                </td>
                <td>

                  <i class="bg-warning"></i> {{this.category}}
                  </span>
                </td>
                <td>
                  <i class="bg-warning"></i> {{this.price}}
                  </span>
                </td>
                <td>

                  <i class="bg-warning"></i> {{this.stock}}
                  </span>
                </td>
                {{!-- <td> --}}
                  {{!--
                <td>

                  <i class="bg-warning"></i> {{this.catName}}
                  </span>
                </td> --}}
                {{!-- <td>
                  <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">EDIT</a>
                </td> --}}
                <td>
                  <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">EDIT</a>
                </td>
                <td>

                  <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger"
                    onclick="return confirm('Sure you want to remove {{this.name}}')">DELETE</a>
                </td>

              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">

      {{#if products.length}}
      <button onclick="paginatePrevious()" class="btn btn-primary">
        < </button>


          <span>Page <span id="pageInfo">{{passNo}}</span></span>
        

          <input type="hidden" id="limit" name="Id" value="{{limit}}" /> 
          
          <button onclick="paginateNext({{products.length}})" class="btn btn-primary">></button>


          {{/if}}
    </div>
  </div>
</div>
<script src="/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<script src="/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
<script src="/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
<!--   Argon JS   -->
<script src="/assets/js/argon-dashboard.min.js?v=1.1.2"></script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
  window.TrackJS &&
    TrackJS.install({
      token: "ee6fab19c5a04ac1a32a645abde4613a",
      application: "argon-dashboard-free"
    });
</script>

<script>

  function paginatePrevious() {
    let page = document.getElementById('pageInfo').innerHTML
    page = Number(page) - 1
    if (page) {
      window.location.href = `/admin/view-product/${page}`
    } else {
      return false
    }
  }

  function paginateNext(limit) {
  if(limit!=10)
  return false

  console.log(limit,".....................")
    let page = document.getElementById('pageInfo').innerHTML
  //  let limit = document.getElementById('limit').innerHTML
  // while(page<=limit)
   {
     if (page) {
        page = Number(page) + 1
        window.location.href = `/admin/view-product/${page}`
       
      }
       
    else {
        return false
      }
  }
  }
</script>

{{!--
<script>

</script> --}}